body {
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
    background-color: #9fa4acff;
    color: #333;
}

    .slika {
    width: 100%;
    height: 300px; 
    position: relative;
    background-image: url("../images/pozadinaaa.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center; 
}

    .slika-content {
    position: absolute;
    left: 10%;
    top: 5%;
    max-width: 1000px;
    z-index: 3;
  }
  
  .slika::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 2;
  }

  .slika-content h1 {
    color: rgb(202, 201, 201);
    font-size: 3rem; 
    font-weight: 700; 
    text-shadow: 2px 2px 5px rgb(194, 193, 193);
    margin-bottom: 1rem; 
  }

  .slika .opis {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: #dddcdc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    z-index: 2;
    max-width: 500px;
}
  .logo {
    position: absolute;
    bottom: 10px; 
    right: 10px;  
    z-index: 2;   
}

.logo img {
    width: 40px; 
    height: auto;
}

.kontakt {
    position: absolute; 
    top: 5px;          
    right: 5px;        
    display: flex;       
    gap: 10px;           
    z-index: 2;          
}

.kontakt i {
    color: #b3cff3;         
    font-size: 25px;    
    cursor: pointer;     
}

.kontakt a i {
    color: #adb2f0;         
}
.navbar {
    background-color: #0e067c;
    border-bottom: 5px solid #ec540e;
}
.navbar-brand {
    color: #ffffff;      
    font-weight: 600;               
    font-size: 1rem;                
    padding: 12px 20px;     
    text-align: center;     
}

.navbar-brand:hover {
    background-color: #e06310;  
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.navbar .nav-link {
    color: #ffffff;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
}

.navbar .nav-link:hover {
    background-color: #e06310;
    color: #fff;
    border-radius: 5px;
}

.navbar .nav-link.active {
    background-color: #ec540e;
    color: #fff;
    border-radius: 5px;
}

.navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
}
.C {
    padding: 10px 0;
    text-align: center;
}
.C h2 {
    font-size: 26px;
    margin-bottom: 50px;
    color: #294A70;
}

.item {
    padding: 25px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    box-shadow: 0 24px 40px rgba(0,0,0,0.6);
    transition: transform 0.3s, box-shadow 0.3s;
}
.item:hover {
    transform: translateY(-15px);  
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.item h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}
.item p {
    font-size: 14px;
    margin-bottom: 20px;
}
.item a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    
}
.item a:hover {
    background-color: #fff;
    color: #294A70;
}
.narandzasta { background-color: #bb8048; }
.zelena { background-color: #556b5a; }
.plava { background-color: #534768; }

.dugme-dole {
    width: 100%;
    margin-top: 40px;
}

.dugme-dole a {
    display: block;                  
    width: 100%;
    background-color: #3a397a;      
    text-align: center;
    color:rgb(30, 30, 31);
    padding: 10px 0;
    border: 2px dashed rgb(18, 5, 66);       
    text-decoration: none;           
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;          
    transition: 0.3s;
}

.dugme-dole a:hover {
    background-color: #9ccbda;       
    transform: scale(1.01);
}
.donji-blok {
    background-color: #888887; 
    color: #ffffff;            
    padding: 40px 20px;        
    margin-top: 60px; 
    text-align: left;      
}

.donji-blok h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
    color:#555353;
    text-align: left;
}

.donji-blok p {
    max-width: 800px;
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
    text-align: left;
}
.footer {
    text-align: center;
    padding: 20px 0;
}
.vrh-dugme {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background-color: #363638;
    justify-content: center; 
    align-items: center; 
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
}
.vrh-dugme a {
    color: white;            
    text-decoration: none;   
    font-size: 20px;       
    line-height: 1;          
    display: block;
}

.vrh-dugme:hover {
    transform: scale(1.15);
}

#kontakt h2 {
    font-weight: 700;
    color: #333;
}

#kontakt .card {
    border: 2px solid #0e067c;
}

#kontakt .form-control {
    border-radius: 8px;
    border: 2px solid #ccc;
}

#kontakt .form-control:focus {
    border-color: #ec540e;
    box-shadow: 0 0 5px rgba(236,84,14,0.5);
}

#kontakt button {
    background-color: #0e067c;
    border: none;
}

#kontakt button:hover {
    background-color: #ec540e;
}