body {
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
    background-color: #9fa4acff;
    color: #333;
}

      .slika {
    width: 100%;
    height: 300px; 
    position: relative;
    background-image: url("../images/pozadinaaa.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center; 
}

    .slika-content {
    position: absolute;
    left: 10%;
    top: 5%;
    max-width: 1000px;
    z-index: 3;
  }
  
  .slika::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 2;
  }

  .slika-content h1 {
    color: rgb(202, 201, 201);
    font-size: 3rem; 
    font-weight: 700; 
    text-shadow: 2px 2px 5px rgb(194, 193, 193);
    margin-bottom: 1rem; 
  }

  .slika .opis {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: #dddcdc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    z-index: 2;
    max-width: 500px;
}
  .logo {
    position: absolute;
    bottom: 10px; 
    right: 10px;  
    z-index: 2;   
}

.logo img {
    width: 40px; 
    height: auto;
}

.kontakt {
    position: absolute; 
    top: 5px;          
    right: 5px;        
    display: flex;       
    gap: 10px;           
    z-index: 2;          
}

.kontakt i {
    color: #b3cff3;         
    font-size: 25px;    
    cursor: pointer;     
}

.kontakt a i {
    color: #adb2f0;         
}
.navbar {
    background-color: #0e067c;
    border-bottom: 5px solid #ec540e;
}
.navbar-brand {
    color: #ffffff !important;      
    font-weight: 600;               
    font-size: 1rem;                
    padding: 12px 20px;     
    text-align: center;     
}

.navbar-brand:hover {
    background-color: #e06310 !important;  
    color: #fff !important;
    border-radius: 5px;
    text-decoration: none;
}
.navbar .nav-link {
    color: #ffffff !important;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
}

.navbar .nav-link:hover {
    background-color: #e06310 !important;
    color: #fff !important;
    border-radius: 5px;
}

.navbar .nav-link.active {
    background-color: #ec540e !important;
    color: #fff !important;
    border-radius: 5px;
}

.navbar-nav {
    flex-wrap: wrap;
    justify-content: center;
}
dt {
    font-weight: bold;
    font-size: 20px;
    color: #262627;
    background-color: #c097b3;  
    padding: 2px 8px;             
    border-radius: 5px;
    display: inline-block;         
    margin-top: 10px;              
}
dd {
    font-family: "Segoe Script", cursive, sans-serif;  
    font-size: 18px;       
    color: #111111;        
    margin-left: 20px;    
    line-height: 1.5;      
}
.donja-slika {
    position: relative;      
    width: 100%;             
    height: auto;
    text-align: right;       
    margin-top: 50px;        
}

.donja-slika img {
    width: 60%;              
    height: auto;
    max-width: 90%;          
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5); 
    border-radius: 10px;     
    margin-bottom: 20px;     
    margin-right: 20px;      
}